{% extends 'usuarios/home.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow p-4" style="width: 100%; max-width: 500px;">
        <h1 class="text-center mb-4">Gerenciar Usuários</h1>

        <div class="d-grid gap-2">
            <!-- Card para Novo Usuário -->
            <a href="{% url 'novo_usuario' %}" class="btn btn-primary btn-lg">
                <svg class="me-2" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path>
                </svg>
                Novo Usuário
            </a>

            <!-- Card para Listar Usuários -->
            <a href="{% url 'listar_usuarios' %}" class="btn btn-secondary btn-lg">
                <svg class="me-2" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
                </svg>
                Listar Usuários
            </a>
        </div>
    </div>
</div>
{% endblock %}