{% extends 'usuarios/base_login.html' %}
{% load widget_tweaks %}
{% load tz %}

{% block title %}Login - Tool4IoTReq{% endblock %}

{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
      <!-- Conteúdo do login -->
      <h1 class="text-center mb-4">
          <span style="color: #2a58ff; font-weight: 600;">Tool4IoTReq</span>
      </h1>
      <h2 class="text-center mb-4">Login</h2>

      <!-- Mensagens -->
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}" role="alert">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}

      {% if error %}
          <div class="alert alert-danger" role="alert">
              {{ error }}
          </div>
      {% endif %}

      <!-- Formulário -->
      <form method="post">
          {% csrf_token %}
          <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <div class="input-group">
                  <span class="input-group-text">
                      <i class="fas fa-envelope"></i>
                  </span>
                  <input type="text" id="email" name="email" class="form-control" required>
              </div>
          </div>

          <div class="mb-3">
              <label for="password" class="form-label">Senha:</label>
              <div class="input-group">
                  <span class="input-group-text">
                      <i class="fas fa-lock"></i>
                  </span>
                  <input type="password" id="password" name="password" class="form-control" required>
              </div>
          </div>

          <div class="d-grid">
              <button type="submit" class="btn btn-dark">Entrar</button>
          </div>
      </form>

      <p class="text-center mt-3">Não tem uma conta? <a href="{% url 'registrar' %}">Registrar-se</a></p>
  </div>

  <!-- Footer centralizado e com margem no topo -->
  <footer class="text-center mt-4 mb-2 text-muted" style="font-size: 0.9rem;">
       &copy; <a target="_blank" href="https://www.lsdi.ufma.br/">LSDi - Laboratório de Sistemas Distribuídos Inteligentes/UFMA</a>
  </footer>
</div>
{% endblock %}
