/* Estilos gerais */

  
  .container-home {
    display: flex;
    min-height: 100vh;
    
  }
  
  /* Estilos da barra lateral */
  .sidebar {
    width: 250px;
    background-color: #000000;
    color: #ecf0f1;
    padding: 20px;
  }
  
  .sidebar-header h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .sidebar-nav ul {
    list-style-type: none;
  }
  
  .sidebar-nav li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav a {
    color: #ecf0f1;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar-nav a:hover {
    background-color: #34495e;
  }
  
  /* Ícones (você pode substituir por uma biblioteca de ícones ou imagens) */
  .sidebar-nav i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  /* Estilos do conteúdo principal */
  .content {
    flex-grow: 1;
    padding: 20px;
   
  }
  
  .content h1 {
    font-size: 32px;
    margin-bottom: 20px;
   
  }
  
  .content p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
    }
  }
  
  