/* Estilos gerais */


/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Box do formulário */
.box {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
}

/* Título */
.title {
  font-size: 1.8rem;
  color: #495057;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Campos de entrada */
.field {
  margin-bottom: 1.2rem;
}

.label {
  font-weight: bold;
  color: #495057;
  margin-bottom: 0.5rem;
  display: block;
}



/* Botão */
